<div>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p align="left">
          Since 1961 the Madagascan national airline Air Madagascar has been connecting the "Grande Ile" to the world while its many domestic destinations contribute to the opening and development of its different regions
          <br>
          <br>
          Our vision: to be the preferred African airline, and the top Indian Ocean airline.
          <br>
          <br>
          Our mission: to be a lever to Madagascar's economic growth
          <br>
          <br>
          Our values: Honesty, Integrity, Respect, Excellence
        </p>
      </div>
    </div>
  </div>
</div>
