<link rel="stylesheet" type="text/css" href="book.css">
<script type="text/javascript" src="flights.js"></script>
<div class="flights">
	<div class="flight-dates" role="presentation">
		
		<button class="date-arrow" text="Previous">
			<img src="../assets/go_left.png">
		</button>

		<button class="day-button" id="1">
			<div class="day-date">
				<div> Wed </div>
				<div> 20 April </div>
			</div>
		</button>

		<button class="day-button" id="2">
			<div class="day-date">
				<div> Thu </div>
				<div> 21 April </div>
			</div>
		</button>

		<button class="day-button" id="3">
			<div class="day-date">
				<div> Fri </div>
				<div> 22 April </div>
			</div>
		</button>

		<button class="day-button" id="4">
			<div class="day-date">
				<div> Sat </div>
				<div> 23 April </div>
			</div>
		</button>

		<button class="day-button" id="5">
			<div class="day-date">
				<div> Sun </div>
				<div> 24 April </div>
			</div>
		</button>

		<button class="day-button" id="6">
			<div class="day-date">
				<div> Mon </div>
				<div> 25 April </div>
			</div>
		</button>

		<button class="date-arrow" text="Next">
			<img src="../assets/go_right.png">
		</button>
	</div>

	<div class="flight-details">
		<label id="flight">
			<label class="flightTime" id="dep1"> 12:30 CAI (Cairo) </label>

			<label id="depLogo">
				<img src="../assets/outgoing.png">
			</label>

			<label class="durationLabel">
				<label id="duration">3 hours</label>
				<label id="clock"> <img src=../assets/clock.png> </label>
			</label>

			<label id="arrLogo">
				<img src="../assets/incoming.png">
			</label>

			<label class="flightTime" id="arr1"> 15:30 JED (Jeddah) </label><br>
			<div class="logos">
				<label id="wifi"> <img src="../assets/wifi2.png"> </label>
				<label id="mobile"> <img src="../assets/mobile.png"> </label>
				<label id="powerport"> <img src="../assets/power.png"> </label>
				<label id="screen"> <img src="../assets/screen.png"> </label>
				<label id="radio"> <img src="../assets/radio.png"> </label>
				<label id="planeModel">Airbus A319</label>
			</div>
		</label>
		<label>
			<ul class="nav nav-tabs classesTabs" id="classesTabs">
			  <li class="activated" id="class1"><a href="#">Economy</a></li>
			  <li id="class2"><a href="#">First Class</a></li>
			  <li id="class3"><a href="#">Business</a></li>
			</ul>
			<label id="ticket">

				<input id="ticketRadio" type="radio" name="ticket"><br>

				<label id="ticketPrice"> 4,800 EGP </label><br> 

				<label id="chairLogo"> <img src="../assets/chair.png"></label>
				<label id="chairCount">5</label>
			</label>
		</label>

	</div>
	<br>
	<a href="#book-incoming" class="btn btn-primary" id="nextBtn">Next</a>
</div>
