	
	<div class="container-fluid">
         <link rel="stylesheet" href="book-confirmation.css">

	<div class="row" id="personal_info">

	    <div class="col-xs-12" > 

	        
			<div class="panel panel-default">
				<div class="panel-heading"  >
				    <h3 class="panel-title" >Personnal Information </h3>
				</div>
			    <div class="panel-body" >
				     <div class="row" id="info_1st" >
	                      <div class="col-xs-2" id ="name"> 
	                         <h5 class = "property">Name :</h5>
	                      </div>
	     	              <div class="col-xs-3" id="name_value"> 
	     	                <h5 class = "value" >{{name}}</h5>
	     	              </div>
	     	               <div class="col-xs-offset-2 col-xs-2" id="db"> 
	                         <h5 class = "property">Date of Birth :</h5>
	     	              </div>
	     	              <div class="col-xs-3" id="db_value"> 
	     	                <h5 class = "value" >{{dateOfBirth}}</h5>
	     	              </div>

	                 </div>
	                 <div class="row" id="info_2nd">
                          <div class="col-xs-2" id="nationality"> 
	                         <h5 class = "property">Nationality :</h5>
	     	              </div>
	     	              <div class="col-xs-3" id="nationality_value"> 
	     	                <h5 class = "value">{{nationality}}</h5>
	     	              </div>	     
	                 </div>
	                 <div class="row" id="info_3rd">
                          <div class="col-xs-2" id="Passport"> 
	                         <h5 class = "property" >Passport :</h5>
	     	              </div>
	     	              <div class="col-xs-3" id="Passport_value"> 
	     	                <h5 class = "value">{{passport}}</h5>
	     	              </div>	     
	                 </div>
			    </div>
		    </div>

	    </div>
	      
	</div>







<div class="row" id="flight_info">

	    <div class="col-xs-12"    > 

	        
			<div class="panel panel-default">
				<div class="panel-heading" >
				    <h3 class="panel-title">Flight Information </h3>
				</div>
			    <div class="panel-body">
				     <div class="row" id="flight_info_1st" >
	                      <div class="col-xs-2" id ="from"> 
	                         <h5 class = "property" >From :</h5>
	                      </div>
	     	              <div class="col-xs-3" id="from_value"> 
	     	                <h5  class = "value">{{from}}</h5>
	     	              </div>
	     	               <div class="col-xs-offset-2 col-xs-2" id="to"> 
	                         <h5 class = "property" >To :</h5>
	     	              </div>
	     	              <div class="col-xs-3" id="to_value"> 
	     	                <h5  class = "value">{{destination}}</h5>
	     	              </div>

	                 </div>
	                 <div class="row" id="flight_info_2nd">
                          <div class="col-xs-2" id="dep_date"> 
	                         <h5 class = "property" >Departure Date:</h5>
	     	              </div>
	     	              <div class="col-xs-3" id="dep_date_value"> 
	     	                <h5  class = "value">{{departureDate}}</h5>
	     	              </div>
	     	              <div class="col-xs-2 col-xs-offset-2" id="ret_date"> 
	                         <h5  class = "property" >Return Date : </h5>
	     	              </div>
	     	              <div class="col-xs-3" id="ret_date_value"> 
	     	                <h5  class = "value">{{returnDate}}</h5>
	     	              </div>	     
	                 </div>
	                 <div class="row" id="flight_info_3rd">
                          <div class="col-xs-2" id="class"> 
	                         <h5  class = "property" >Class :</h5>
	     	              </div>
	     	              <div class="col-xs-3" id="class_value"> 
	     	                <h5  class = "value">{{class}}</h5>
	     	              </div>	     
	                 </div>
			    </div>
		    </div>

	    </div>
	      
	</div>





<div class="row" id="contact_info">

	    <div class="col-xs-12"    > 

	        
			<div class="panel panel-default">
				<div class="panel-heading" >
				    <h3 class="panel-title" >Contact Information </h3>
				</div>
			    <div class="panel-body" >
				     <div class="row" id="contact_info_1st" >
	                      <div class="col-xs-2" id ="email"> 
	                         <h5 class = "property" >E-Mail :</h5>
	                      </div>
	     	              <div class="col-xs-3" id="email_value"> 
	     	                <h5   class = "value">{{email}}</h5>
	     	              </div>
	     	               <div class="col-xs-offset-2 col-xs-2" id="phone"> 
	                         <h5 class = "property" >Phone Number:</h5>
	     	              </div>
	     	              <div class="col-xs-3" id="phone_value"> 
	     	                <h5  class = "value">{{phone}}</h5>
	     	              </div>

	                 </div>
	                 
			    </div>
		    </div>

	    </div>
	      
	</div>


	<div class="row" id="emergency_contact">

	    <div class="col-xs-12"    > 

	        
			<div class="panel panel-default">
				<div class="panel-heading" >
				    <h3 class="panel-title" >Emergency Contact </h3>
				</div>
			    <div class="panel-body" >
				     <div class="row" id="emg_1st" >
	                      <div class="col-xs-2" id ="email_emg"> 
	                         <h5  class = "property" >E-Mail :</h5>
	                      </div>
	     	              <div class="col-xs-3" id="email_value_emg"> 
	     	                <h5  class = "value">{{emailEmg}}</h5>
	     	              </div>
	     	               <div class="col-xs-offset-2 col-xs-2" id="phone_emg"> 
	                         <h5 class = "property" >Phone Number:</h5>
	     	              </div>
	     	              <div class="col-xs-3" id="phone_value_emg"> 
	     	                <h5  class = "value">{{phoneEmg}}</h5>
	     	              </div>

	                 </div>
	                 
			    </div>
		    </div>

	    </div>
	      
	</div>
	<div class="row" id="Price">
	   <div class="col-xs-12" id="price_value"> 
           <h3 style="color:#800517;text-align: center;">  Price :  
              <span class="label label-success">
                $ 1555  
               </span></h3> 
        </div>       
	</div>

	<div class="row" id="Confirm">
	   <div class="col-xs-2 col-xs-offset-10" id="confirm_value"> 
         <a href="/"> <button type="button" class="btn btn-success" >Confirm</button></a>
        </div>       
	</div>

</div>