<div>
	<link rel="stylesheet" type="text/css" href="../styles/personal-info.css">
	<div class= "personal-information">
		<h2>Personal Information: </h2>
		<div class="title_class">
			<p>Title:  </p>
			<select>
				<option>Mr</option>
				<option>Mrs</option>
				<option>Ms</option>
				<option>Miss</option>
			</select>
		</div>
		<div class="first_name_class">
			<p>First name:  </p> 
			
		</div>
		<div class="last_name_class">
			<p>Last name:  </p>
			<input id="last-name"></input>
		</div>
		<br>
		<div>
			<div class="nationality">
				<p id="nat">Nationality:  </p>
				<input id="nationality"></input>
			</div>
			<div class="date-of-birth">
				<p>Date of birth:  </p>
				<select id="day">
					
				</select>
				<select id="month">
					
				</select>
				<select id="year">
					
				</select>
			</div>
		</div>
		 <hr style="height:3px;border:none;color:#840705;background-color:#840705;" />
	</div>
	<div class="special-requirements">
		<h2>Special requirements: </h2>
	</div>
	<hr style="height:3px;border:none;color:#840705;background-color:#840705;" />
	<div class="passport-information">
		<h2>Passport information: </h2>
	</div>
	<hr style="height:3px;border:none;color:#840705;background-color:#840705;" />
	<div class="contact-information">
		<h2>Contact information: </h2>
	</div>
	<hr style="height:3px;border:none;color:#840705;background-color:#840705;" />
	<div class="emergency-contact">
		<h2>Emergency contact information: </h2>
	</div>
</div>