<div >
	<link rel="stylesheet" type="text/css" href="../styles/personal-info.css">
	<div class= "personal-information">
		<h2>Personal Information: </h2>
		<div class="row">
			<div class="col-sm-1">
				<p>Title:</p>
			</div>
			<div class="col-sm-1">
				<select id="title">
					<option>Mr</option>
					<option>Mrs</option>
					<option>Ms</option>
					<option>Miss</option>
				</select>
			</div>
			<div class="col-sm-2">
				<p>First name:</p> 
			</div>

			<div class="col-sm-2">
				<input id="first-name"></input>
			</div>
			<div class="col-sm-1">
				
			</div>
			<div class="col-sm-2">
				<p>Last name:</p>
			</div>
			<div class="col-sm-2">
				<input id="last-name"></input>
			</div>
			
		</div>
		
		<div class="row">
			<div class="col-sm-2">
				<p>Nationality:</p>
			</div>
			<div class="col-sm-2">
				<input id="nationality"></input>
			</div>
			<div class="col-sm-2">
			
			</div>
			<div class="col-sm-3">
				<p>Date of birth:</p>
			</div>
			<div class="col-sm-1">
				<select id="day">	
				</select>
			</div>
			<div class="col-sm-1">
				<select id="month">	
				</select>
			</div>
			<div class="col-sm-1">
				<select id="year">	
				</select>
			</div>
			
		</div>
		<hr style="height:3px;border:none;color:#840705;background-color:#840705;" />
	</div>
	<div class="special-requirements">
		<h2>Special requirements: </h2>
		<div class="row">
			<div class="col-sm-3">
			<p style="font-size:19px">Meal preference:</p> 
			</div>
			<div class="col-sm-3">
				<select id="meal-preference">	
				<option>None</option>
				<option>Asian vegetarian meal</option>
				<option>Baby food</option>
				<option>Bland meal</option>
				<option>Child food</option>
				<option>Diabetic meal</option>
				<option>Gelatin free meal</option>
				<option>Low calorie meal</option>
				<option>Low fat meal</option>
				<option>Salt free meal</option>
				<option>Lacto-ovo vegetarian meal</option>
				</select>
			</div>
			
			<div class="col-sm-2">
				<p style="font-size:17px">Special needs:</p> 
			</div>
			<div class="col-sm-3">
				<select id="special-needs">
				<option>None</option>	
				<option>Deaf passenger</option>
				<option>Wheelchair for cabin seat</option>
				<option>Wheelchair for ramp</option>
				<option>Wheelchair for steps</option>
				<option>Wheelchair dry cell battery</option>
				<option>Wheelchair wet cell battery</option>
				</select>
			</div>
		</div>
	</div>
	<hr style="height:3px;border:none;color:#840705;background-color:#840705;" />
	<div class="passport-information">
		<h2>Passport information: </h2>
		<div class="row">
			<div class="col-sm-3">
				<p>Passport number:</p>
			</div>
			<div class="col-sm-3">
				<input class="passport-number"></input>
			</div>

		</div>
		<div class="row">
			<div class="col-sm-2">
				<p>Issue date:</p>
			</div>
			<div class="col-sm-3">
				<select id="issue-date">
				</select>
			</div>
			<div class="col-sm-1">
			</div>
			<div class="col-sm-3">
				<p>Expiration date:</p>
			</div>
			<div class="col-sm-3">
				<select id="expiration-date">
				</select>
			</div>
		</div>
	</div>
	<hr style="height:3px;border:none;color:#840705;background-color:#840705;" />
	<div class="contact-information">
		<h2>Contact information: </h2>
		<div class="row">
			<div class="col-sm-1">
				<p>Email:</p>
			</div>
			<div class="col-sm-4">
				<input class="email"></input>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<p>Mobile phone number:</p>
			</div>
			<div class="col-sm-2">
				<select id="mob-country">
					
				</select>
			</div>
			<div class="col-sm-4">
				<input id="mobile-phone-number"></input>
			</div>
		</div>
	</div>
	<hr style="height:3px;border:none;color:#840705;background-color:#840705;" />
	<div class="emergency-contact">
		<h2>Emergency contact information: </h2>
		<div class="row">
			<div class="col-sm-1">
				<p>Email:</p>
			</div>
			<div class="col-sm-4">
				<input class="emergency-email"></input>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<p>Mobile phone number:</p>
			</div>
			<div class="col-sm-2">
				<select id="emergency-mob-country">
					
				</select>
			</div>
			<div class="col-sm-4">
				<input id="emergency-mobile-phone-number"></input>
			</div>
		</div>
		
		<a href="book/payement"><button class="button">   Next   </button></a>
	</div>
</div>