<!doctype html>
<html ng-app="scotchTodo">
<head>
<meta charset="utf-8">
<title>jQuery UI Datepicker - Default functionality</title>
<script type="text/javascript" src="../scripts/payment.js"></script>
<link rel="stylesheet" type="text/css" href="paymentstyle.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script>
$(function() {
$( "#datepicker" ).datepicker();
});
</script>
</head>

<body ng-controller="mainController">
  <svg height="100" width="100">
  <circle title="1" cx="50" cy="50" r="20" stroke="#73c45d" stroke-width="2" fill="white" />
</svg>
<svg height="100" width="100">
<circle cx="50" contextmenu="l"cy="50" r="20" stroke="#73c45d" stroke-width="2" fill="white" />
</svg>
<svg height="100" width="100">
<circle cx="50" cy="50" r="20" stroke="#73c45d" stroke-width="2" fill="white" />
</svg>
<svg height="100" width="100">
<circle cx="50" cy="50" r="20" stroke="#73c45d" stroke-width="2" fill="#73c45d" />
</svg>
<svg height="100" width="100">
<circle cx="50" cy="50" r="20" stroke="#73c45d" stroke-width="2" fill="white" />
</svg>

<div id="fr">
<h3 id="name">Cardholder Name:</h3>
<input id="na" type="text" placeholder="Name"><br>
<h3 id="namesecond">Payment Method:
  <select id="select">
    <option >Visa</option>
    <option >Master Card</option>
    <option >Credit Card</option>
  </select></h3>
</div>
<div>

  <a id="se1">Card Nubmer:</a>
   <a id="se2">CVS:</a>
  <a id="se3">Expire Date:</a>

</div>
<div>
  <input width="15px" id="CN" type="password">
  <input width="10px" id="CVS" type="password"  >
  <input type="datepicker" id="datepicker">

</div>
<div>

  <a id="b1">Billing Country:</a>
   <a id="b2">Billing City:</a>
  <a id="b3">Billing State:</a>
  <a id="b4">Zip Code:</a>
  <a id="b5">Address:</a>

</div>
<form >

  <select id="select1"  >
  <option >Egypt</option>
  <option >China</option>
  <option >Australia</option>
  <option >India</option>
    </select>
    <a id="tr">
  <input class="col-md-4"width="15px" id="City" type="text"  placeholder="City">
  <input width="10px" id="State" type="text"  placeholder="State" >
  <input id="Zip" type="text"  placeholder="Zip Code" >
  <input id="Address" type="text"  placeholder="Address"  ></a>
</form>
<div>

  <a id="c1">Price Pay:</a>
  <a id="c2">Promotion Code:</a>
</div>
<div>
  <input id="pay" type="text"   >
  <input id="promo" type="password"    ></a>
  <button id="Enter" type="button"  >Enter</button><br>
  <button id="Next" type="button"class="btn btn-success">Next</button>
</div>


</body>
</html>
