<!doctype html>
<html ng-app="scotchTodo">
<head>
<meta charset="utf-8">
<title>jQuery UI Datepicker - Default functionality</title>
<script type="text/javascript" src="../scripts/payment.js"></script>
<link rel="stylesheet" type="text/css" href="paymentstyle.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script>
$(function() {
$( "#datepicker" ).datepicker();
});
</script>
</head>

<body ng-controller="mainController">
  <svg height="100" width="100">
  <circle title="1" cx="50" cy="50" r="20" stroke="#73c45d" stroke-width="2" fill="white" />
</svg>
<svg height="100" width="100">
<circle cx="50" contextmenu="l"cy="50" r="20" stroke="#73c45d" stroke-width="2" fill="white" />
</svg>
<svg height="100" width="100">
<circle cx="50" cy="50" r="20" stroke="#73c45d" stroke-width="2" fill="white" />
</svg>
<svg height="100" width="100">
<circle cx="50" cy="50" r="20" stroke="#73c45d" stroke-width="2" fill="#73c45d" />
</svg>
<svg height="100" width="100">
<circle cx="50" cy="50" r="20" stroke="#73c45d" stroke-width="2" fill="white" />
</svg>

<div id="fr">
  <div class="row">
<label class="col-md-4" id="name">Cardholder Name:</label>
</div>
<div class="row">
<div class="col-md-4">
<div class="input-group">
 <span class="input-group-addon" id="kol4"><img id="img"src="../assets/icon-profile.png"></span>
<input class="form-control" id="kol5" aria-describedby="inputGroupSuccess1Status" type="text" placeholder="Name">
</div>
</div>
</div>
<br>
<div class="row">
<label class="col-md-3" id="namesecond">Payment Method:</label>
  <select id="select" class="col-md-4">
    <option >Visa</option>
    <option >Master Card</option>
    <option >Credit Card</option>
  </select>
</div>
<br>
<div class="row">
  <label class="col-md-1"></label>
  <a id="se1" ><label class="col-md-3">Card Nubmer:</label></a>

   <a id="se2" ><label class="col-md-3">CVS:</label></a>

  <a id="se3"  ><label class="col-md-3">Expire Date:</label></a>

</div>
<div class="row">
  <label class="col-md-1"></label>
  <div class="col-md-3">
  <div class="input-group">
   <span class="input-group-addon"id="kol2" >*</span>
  <input  class="form-control" id="kol3" aria-describedby="inputGroupSuccess1Status" type="password" >
</div>
</div>

  <div class="col-md-3">
  <div class="input-group">
   <span class="input-group-addon" id="kol">*</span>
  <input class="form-control" id="kol1" aria-describedby="inputGroupSuccess1Status" type="password" ><br>
</div>
</div>

<form action="action_page.php">
  <div class="col-md-3" >
  <div class="input-group" >
   <span class="input-group-addon" id="lol"><img id="img"src="../assets/Calendar-icon.png"></span>
  <input class="form-control" id="datepicker" aria-describedby="inputGroupSuccess1Status" type="date" >
  </div>
  </div>
</form>


</div>
<br>
<div class="row">
<label class="col-md-1"></label>
  <a id="b1" > <label class="col-md-2">Billing Country:</label></a>
   <a id="b2">  <label class="col-md-2">Billing City:</label></a>
  <a id="b3"> <label class="col-md-2">Billing State:</label></a>
  <a id="b4"><label class="col-md-2" >Zip Code:</label></a>
  <a id="b5"><label class="col-md-2">Address:</label></a>

</div>
<div class="row" >
 <label class="col-md-1"></label>
  <select id="select1" class="col-md-2" >
  <option >Egypt</option>
  <option >China</option>
  <option >Australia</option>
  <option >India</option>
    </select>
    <a id="tr">
      <div class="col-md-2">
        <input class="form-control" width="15px" id="City" type="text"  placeholder="City">
      </div>
      <div class="col-md-2">
        <input class="form-control" width="15px" id="State" type="text" placeholder="State">
      </div>
      <div class="col-md-2">
        <input class="form-control" width="15px"  id="Zip" type="text"  placeholder="Zip Code">
      </div>
      <div class="col-md-2">
        <input class="form-control" width="15px"  id="Address" type="text"   placeholder="Address">
      </div>

</div>
<br>
<div class="row">

  <a id="c1"><label class="col-md-2">Price Pay:</label></a>
  <a id="c2"><label class="col-md-3">Promotion Code:</label></a>

</div>
<div class="row">
  <div class="col-md-2">
    <label  id="kol8" class="form-control">$1000</label>
  </div>



  <div class="col-md-3">
  <div class="input-group">
   <span class="input-group-addon" id="kol6">*</span>
  <input  class="form-control" id="kol7" aria-describedby="inputGroupSuccess1Status" type="password" ><br>
</div>

</div>

<div class="col-md-3">
  <button  id="Enter" type="button" class="btn btn-success" >Enter</button><br>

</div>

</div>
<br>
<br>
  <label class="col-md-10"></label>
<button id="Next" type="button"class="btn btn-success">Next</button>

</body>
</html>
