<link rel="stylesheet" type="text/css" href="flights.css">
<script type="text/javascript" src="flights.js"></script>
<div class="flights">
	<div class="flight-dates" role="presentation">
		
		<button class="date-arrow" text="Previous">
			<img src="../assets/go_left.png">
		</button>

		<button class="day-button" id="1">
			<div class="day-date">
				<div> Wed </div>
				<div> 20 April </div>
			</div>
		</button>

		<button class="day-button" id="2">
			<div class="day-date">
				<div> Thu </div>
				<div> 21 April </div>
			</div>
		</button>

		<button class="day-button" id="3">
			<div class="day-date">
				<div> Fri </div>
				<div> 22 April </div>
			</div>
		</button>

		<button class="day-button" id="4">
			<div class="day-date">
				<div> Sat </div>
				<div> 23 April </div>
			</div>
		</button>

		<button class="day-button" id="5">
			<div class="day-date">
				<div> Sun </div>
				<div> 24 April </div>
			</div>
		</button>

		<button class="day-button" id="6">
			<div class="day-date">
				<div> Mon </div>
				<div> 25 April </div>
			</div>
		</button>

		<button class="date-arrow" text="Next">
			<img src="../assets/go_right.png">
		</button>
	</div>

	<div class="flight-details">
		<ul class="nav nav-tabs classesTabs" id="classesTabs">
			  <li ng-class="{active:selected=='Economy'}" ng-click="setSelected('Economy')"><a id="class1" href="">Economy</a></li>
			  <li ng-class="{active:selected=='Business'}" ng-click="setSelected('Business')"><a  id="class2" href="">Business</a></li>
			  <li ng-class="{active:selected=='First'}" ng-click="setSelected('First')"><a id="class3" href="">First Class</a></li>
			</ul>
	<div class="flightTicket" ng-repeat="flight in flights" ng-if="flight.class==selected">			
		<label id="flight">
			<label class="flightTime" id="dep1"> {{ flight.depTime }} </label>

			<label id="depLogo">
				<img src="../assets/outgoing.png">
			</label>

			<label class="durationLabel">
				<label id="duration">{{ flight.duration }}</label>
				<label id="clock"> <img src=../assets/clock.png> </label>
			</label>

			<label id="arrLogo">
				<img src="../assets/incoming.png">
			</label>

			<label class="flightTime" id="arr1"> {{ flight.arrTime }} </label><br>
			<div class="logos">
				<label id="wifi"> <img src="../assets/wifi2.png"> </label>
				<label id="mobile"> <img src="../assets/mobile.png"> </label>
				<label id="powerport"> <img src="../assets/power.png"> </label>
				<label id="screen"> <img src="../assets/screen.png"> </label>
				<label id="radio"> <img src="../assets/radio.png"> </label>
				<label id="planeModel"> {{ flight.planeModel }} </label>
			</div>
		</label>

			<label id="ticket">

				<input id="ticketRadio" type="radio" name="ticket" ng-disabled="flight.remaining_seats==0"><br>

				<label id="ticketPrice">{{ flight.price }}</label><br> 

				<label id="chairLogo"> <img src="../assets/chair.png"></label>
				<label id="chairCount">{{ flight.remaining_seats }}</label>
			</label>

	</div>
	</div>
	<br>
	<a href="/book/incoming"><button class="btn btn-primary" id="nextBtn">Next</button></a>
</div>
