	<div class="container-fluid">

	<div class="row" id="personal_info">

	    <div class="col-xs-12"    > 

	        
			<div class="panel panel-default">
				<div class="panel-heading" style="background-color:#72bb53;">
				    <h3 class="panel-title" style="font-weight: 600;color :white ;text-align:left;">Personnal Information </h3>
				</div>
			    <div class="panel-body" style="background-color:#F5F5DC">
				     <div class="row" id="info_1st" >
	                      <div class="col-xs-2" id ="name"> 
	                         <h5 style="color:#800517;text-align: left;">Name :-</h5>
	                      </div>
	     	              <div class="col-xs-3" id="name_value"> 
	     	                <h5 style="color:black;text-align: left;">Mohammed waheed</h5>
	     	              </div>
	     	               <div class="col-xs-offset-2 col-xs-2" id="db"> 
	                         <h5 style="color:#800517;text-align: left;">Date of Birth :-</h5>
	     	              </div>
	     	              <div class="col-xs-3" id="db_value"> 
	     	                <h5 style="color:black;text-align: left;">13/13/2013</h5>
	     	              </div>

	                 </div>
	                 <div class="row" id="info_2nd">
                          <div class="col-xs-2" id="nationality"> 
	                         <h5 style="color:#800517;text-align: left;">Nationality :-</h5>
	     	              </div>
	     	              <div class="col-xs-3" id="nationality_value"> 
	     	                <h5 style="color:black;text-align: left;">Egyption</h5>
	     	              </div>	     
	                 </div>
	                 <div class="row" id="info_3rd">
                          <div class="col-xs-2" id="Passport"> 
	                         <h5 style="color:#800517;text-align: left;">Passport :-</h5>
	     	              </div>
	     	              <div class="col-xs-3" id="Passport_value"> 
	     	                <h5 style="color:black;text-align: left;">1234</h5>
	     	              </div>	     
	                 </div>
			    </div>
		    </div>

	    </div>
	      
	</div>







<div class="row" id="flight_info">

	    <div class="col-xs-12"    > 

	        
			<div class="panel panel-default">
				<div class="panel-heading" style="background-color:#72bb53;">
				    <h3 class="panel-title" style="font-weight: 600;color :white ;text-align:left;">Flight Information </h3>
				</div>
			    <div class="panel-body" style="background-color:#F5F5DC">
				     <div class="row" id="flight_info_1st" >
	                      <div class="col-xs-2" id ="from"> 
	                         <h5 style="color:#800517;text-align: left;">From :-</h5>
	                      </div>
	     	              <div class="col-xs-3" id="from_value"> 
	     	                <h5 style="color:black;text-align: left;">Miami</h5>
	     	              </div>
	     	               <div class="col-xs-offset-2 col-xs-2" id="to"> 
	                         <h5 style="color:#800517;text-align: left;">To :-</h5>
	     	              </div>
	     	              <div class="col-xs-3" id="to_value"> 
	     	                <h5 style="color:black;text-align: left;">Malibu</h5>
	     	              </div>

	                 </div>
	                 <div class="row" id="flight_info_2nd">
                          <div class="col-xs-2" id="dep_date"> 
	                         <h5 style="color:#800517;text-align: left;">Departure Date :-</h5>
	     	              </div>
	     	              <div class="col-xs-3" id="dep_date_value"> 
	     	                <h5 style="color:black;text-align: left;">8/5/1651</h5>
	     	              </div>
	     	              <div class="col-xs-2 col-xs-offset-2" id="ret_date"> 
	                         <h5 style="color:#800517;text-align: left;">Return Date :-</h5>
	     	              </div>
	     	              <div class="col-xs-3" id="ret_date_value"> 
	     	                <h5 style="color:black;text-align: left;">8/5/1951</h5>
	     	              </div>	     
	                 </div>
	                 <div class="row" id="flight_info_3rd">
                          <div class="col-xs-2" id="class"> 
	                         <h5 style="color:#800517;text-align: left;">Class :-</h5>
	     	              </div>
	     	              <div class="col-xs-3" id="class_value"> 
	     	                <h5 style="color:black;text-align: left;">first</h5>
	     	              </div>	     
	                 </div>
			    </div>
		    </div>

	    </div>
	      
	</div>

	


	  </div>


