
<script type="text/javascript" src="payment.js"></script>
<link rel="stylesheet" type="text/css" href="paymentstyle.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

<!-- <div id="fr"> -->
<div class="row">
  <label class="col-md-4" id="cardholderLabel">Cardholder Name:</label>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="input-group">
      <span class="input-group-addon" id="cardholderSpan"><img id="profile_img"src="../assets/icon-profile.png" /></span>
      <input class="form-control" id="cardholderInputField" aria-describedby="inputGroupSuccess1Status" type="text" placeholder="Name">
    </div>
  </div>
</div>
<br>
<div class="row">
  <label class="col-md-3" id="paymentMethodLabel">Payment Method:</label>
  <select id="selectPaymentMethod" class="col-md-4">
    <option >Visa</option>
    <option >Master Card</option>
    <option >Credit Card</option>
  </select>
</div>
<br>
<div class="row">

  <a id="cardNumberLabel" ><label class="col-md-4">Card Number:</label></a>

  <a id="cvsLabel" ><label class="col-md-4">CVS:</label></a>

  <a id="expireDateLabel"  ><label class="col-md-3">Expire Date:</label></a>

</div>
<div class="row">

  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon"id="cardNumberSpan" >*</span>
      <input  class="form-control" placeholder="14-digits" id="cardNumberTextField" aria-describedby="inputGroupSuccess1Status" type="password" >
    </div>
  </div>

  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon" id="cvsSpan">*</span>
      <input class="form-control" placeholder="3-digits" id="cvsTextField" aria-describedby="inputGroupSuccess1Status" type="password" ><br>
    </div>
  </div>

  <form action="action_page.php">
    <div class="col-md-3" >
      <div class="input-group" >
        <span class="input-group-addon" id="lol"><img id="calender_img"src="../assets/Calendar-icon.png" /></span>
        <input id="datepicker"class="form-control datepicker" placeholder="mm/dd/yyyy" aria-describedby="inputGroupSuccess1Status">
      </div>
    </div>
  </form>


</div>
<br>
<div class="row">
  <!--<label class="col-md-1"></label>-->
  <a id="billingCountryLabel" > <label class="col-md-3">Billing Country:</label></a>
  <a id="billingCityLabel">  <label class="col-md-2">Billing City:</label></a>
  <a id="billingStateLabel"> <label class="col-md-2">Billing State:</label></a>
  <a id="zipCodeLabel"><label class="col-md-2" >Zip Code:</label></a>
  <a id="AddressLabel"><label class="col-md-2">Address:</label></a>

</div>
<div class="row" >
  <label  class="col-md-3" >
    <select id="billingCountrySelect"  >
      <option ng-repeat="country in countries">{{ country.name }}</option>
    </select>
  </label>

  <!-- <a id="tr"> -->
  <div class="col-md-2">
    <input class="form-control" width="15px" id="billingCityTextField" type="text"  placeholder="City">
  </div>
  <div class="col-md-2">
    <input class="form-control" width="15px" id="billingStatetextField" type="text" placeholder="State">
  </div>
  <div class="col-md-2">
    <input class="form-control" width="15px"  id="zipCodeTextField" type="text"  placeholder="Zip Code">
  </div>
  <div class="col-md-2">
    <input class="form-control" width="15px"  id="addressTextField" type="text"   placeholder="Address">
  </div>

</div>
<br>
<div class="row">

  <a id="pricePayLabel"><label class="col-md-2">Total Price:</label></a>
  <a id="promotionCodeLabel"><label class="col-md-3">Promotion Code:</label></a>

</div>
<div class="row">
  <div class="col-md-2">
    <label  id="pricePayAmount" class="form-control">$1000</label>
  </div>



  <div class="col-md-3">
    <div class="input-group">
      <span class="input-group-addon" id="promotionCodeSpan">*</span>
      <input  class="form-control" placeholder="Enter Promo Here" id="promotionCodeInputText" aria-describedby="inputGroupSuccess1Status" type="password" ><br>
    </div>

  </div>

  <div class="col-md-3">
    <button  id="enterButton" type="button" class="btn btn-success" >Enter</button><br>

  </div>

</div>
<br>
<br>
<label class="col-md-10"></label>
<a href='book/confirmation'<button id="nextButton" type="button"class="btn btn-success">Next</button></a>
