<div class="content">
	<script type="text/javascript" src="book-search.js"></script>
	<link rel="stylesheet" href="book-search.css">
	<div class="top_block block_1">
		<div class="From">From</div>
		<div class="To">To</div>
		<label class="GPSFLogo">
			<img src="../assets/GPS.png" style="width:48px;height:48px;">
		</label>
		<label class="GPSTLogo">
			<img src="../assets/GPS.png" style="width:48px;height:48px;">
		</label>
		<div class="DD">Departure Date</div>
		<label class="DDLogo">
			<img src="../assets/outgoing2.png">
		</label>
		<div class="DDate">
			<input type="text" placeholder="mm/dd/yyyy" class="datepicker" id="datepicker"/>
		</div>
		<div class="RDate">
			<input type="text" placeholder="mm/dd/yyyy" class="datepicker" id="datepicker2"/>
		</div>
		<label class="RDLogo">
			<img src="../assets/incoming2.png" id="RDlogo">

		</label>
		<div class= "RT">
			<input class="radio" type="radio" id="radio01" name="radio" checked="checked" />
			<label for="radio01"><span></span>Round Trip</label>
		</div>

		<div class= "OW">
			<input class="radio2" type="radio" id="radio02" name="radio" value="2" />
			<label for="radio02"><span></span>One Way</label>
		</div>
		<div class="RD">Return Date</div>
		<div class="AD">Adult(s) +11 years</div>
		<div class="CH">Child(ren) 2-11 years</div>
		<div class="IN">Infant(s) Under 2 years</div>
<div class="Class">Class</div>
	<div class="class1">
		<p><select class="btn btn-primary dropdown-toggle" id="dropdown1">
			<option value="first">First</option>
			<option value="business">Business</option>
			<option value="Economy">Economy</option>
		</select></p>
	</div>
	<div class="AD1">
		<p><select class="btn btn-primary dropdown-toggle" id="dropdown2">
			<option value="1">1 Adult(s)</option>
			<option value="2">2 Adult(s)</option>
			<option value="3">3 Adult(s)</option>
			<option value="4">4 Adult(s)</option>
			<option value="5">5 Adult(s)</option>
			<option value="6">6 Adult(s)</option>
			<option value="7">7 Adult(s)</option>
			<option value="8">8 Adult(s)</option>
			<option value="9">9 Adult(s)</option>
		</select></p>
	</div>
	<div class="CH1">
		<p><select class="btn btn-primary dropdown-toggle" id="dropdown3">
			<option value="0">0 Child(ren)</option>
			<option value="1">1 Child(ren)</option>
			<option value="2">2 Child(ren)</option>
			<option value="3">3 Child(ren)</option>
			<option value="4">4 Child(ren)</option>
			<option value="5">5 Child(ren)</option>
			<option value="6">6 Child(ren)</option>
			<option value="7">7 Child(ren)</option>
			<option value="8">8 Child(ren)</option>
			<option value="9">9 Child(ren)</option>
		</select></p>
	</div>
	<div class="IN1">
		<p><select class="btn btn-primary dropdown-toggle" id="dropdown4">
			<option value="0">0 Infant(s)</option>
			<option value="1">1 Infant(s)</option>
			<option value="2">2 Infant(s)</option>
			<option value="3">3 Infant(s)</option>
			<option value="4">4 Infant(s)</option>
			<option value="5">5 Infant(s)</option>
			<option value="6">6 Infant(s)</option>
			<option value="7">7 Infant(s)</option>
			<option value="8">8 Infant(s)</option>
			<option value="9">9 Infant(s)</option>
		</select></p>
	</div>

	<input type="text" placeholder="Flying From" class="textox1">
	<input type="text" placeholder="Flying To" class="textox2">

	<a href="book/outgoing" class="btn btn-success" id="Search">Search</a>

	</div>
</div>
