<div class="form-horizontal text-left">
  <div class="form-group">
    <label class="col-xs-5 col-md-offset-1 col-md-3">Passenger's last name</label>
    <div class="col-xs-7 col-md-5">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-5 col-md-offset-1 col-md-3">Booking reference number</label>
    <div class="col-xs-7 col-md-5">
      <input type="text" class="form-control" placeholder="Booking reference">
    </div>
  </div>

  <div class="col-xs-12 col-md-12">
    <a href="manage/ticketinfo"><button type="submit" class="btn btn-success col-xs-offset-9 col-md-offset-9">Retrieve my booking</button></a>
  </div>
</div>
