
.container-fluid {
}

.row {
}

.col-xs-12 {
}

.panel{

}

.panel-default {

}


.panel-default > .panel-heading {
  background-color: #72bb53;
}
.panel-title {
	color: white ;
	text-align:left;
	font-weight: 600 ;
}
.property{
	color:#800517;
	text-align: left;
	font-weight: bold;
}
.value{
	color:black;
	text-align: left;
}

.panel-heading > .panel-body {
	background-color:#F5F5DC ;
}

.col-xs-2 {
}

.col-xs-3 {
}

.col-xs-offset-2 {
}

.label {
}

.label-success {
}

.col-xs-offset-10 {
}

.btn {
}

.btn-success {
}