.tab-links {
   display:table; margin:0 auto;
}

.tabs {
   width:100%;
   display:inline-block;
   text-align:center;
}

.tab-links:after {
   display:block;
   clear:both;
   content:'';
}

.tab-links li {
   margin:0px 1px;
   float:left;
   position: relative;
   list-style:none;
}

.tab-links a {
   padding:10px 40px;
   height: 40px;
   display:inline-block;
   border-radius:3px 3px 0px 0px;
   background:#72bb53;
   font-size:16px;
   font-weight:600;
   color:white;
   transition:all linear 0.12s;
}

.tab-links a:hover {
   background:#a8c6fa;
   text-decoration:none;
}

li.active a, li.active a:hover {
   background:#3d8af7;
   color:white;
}

.tab-content {
   padding:15px;
   border-radius:3px;
   box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
   background:#3d8af7;
   border-radius: 0px 0px 3px 3px;
   width: 859px;
   margin-left: 40px;
   text-align: center;
}

.tab {
   display:none;
}

.tab.active {
   display:block;
}

a:hover, a:visited, a:link, a:active {
   text-decoration: none;
}
