.slider {
  width: 1000px;
  height: 400px;
  overflow: hidden;
  margin: auto;
}

.slider ul {
  list-style: none;
  width: 3000px;
  height: 400px;
  position: relative;
}

.slider ul li {
  float: left;
  width: 1000px;
  height: 400px;
}

.slider ul li img{
  width: 1000px;
  height: 400px;
  position: relative;
  z-index: -1;
}

.slider #previous {
  width: 50px;
  height: 100px;
  position: fixed;
  padding-left: 50px;
  padding-top: 100px;
}
