h2 {
	text-align: left;
	color: #840705;
	text-decoration: underline;
}
p {
	color: #840705;
}

.button {
	background-color: #73c45d;
	color: white;
	text-align: center;
	font-size: 18px;
	 padding: 5px 30px;
    cursor: pointer;
    float: right;
    border-radius: 6px;

}