<div class="container">
	<div class="search">
		<form name="searchForm" ng-submit="submitForm(searchForm.$valid)" novalidate>
			<div class="form-inline">
				<!-- Row for round trip and one way -->
				<div class="row">
					<div class="col-sm-3 col-md-2 check">
						<input type="radio" id="round" name="radio" ng-model="trip_type" ng-value="'round'" ng-change="date_show = true" />
						<label for="round">Round Trip</label>
					</div>
					<div class="col-sm-offset-1 col-md-offset-1 col-sm-2 col-md-2 check">
						<input type="radio" id="one" name="radio" ng-model="trip_type" ng-value="'one'" ng-change="date_show = false" />
						<label for="one">One Way</label>
					</div>

					<div class="col-sm-offset-1 col-md-offset-1 col-sm-4 col-md-3 check">
						<input type="checkbox" id="other" name="search_other" ng-model="search_other"/>
						<label for="other">Search Other Airlines</label>
					</div>
				</div>
				<br>

				<!-- Row for origin and destination airports -->
				<div class="row">
					<div class="col-sm-5 col-md-5" ng-class="{'has-error' : searchForm.originAirport.$invalid &&  (submitted || searchForm.originAirport.$dirty)}">
						From: <img src="assets/outgoing.png"> <input name="originAirport"
						id="originAirport"
						type="text"
						placeholder="Departure Airport"
						ng-model="selectedOrigin"
						autocomplete="off"
						typeahead-editable="false"
						typeahead-select-on-exact="true"
						typeahead-on-select="setOrigin($item)"
						uib-typeahead="airport.name for airport in Airports | filter:$viewValue | limitTo:10"
						class="form-control in"
						required>
						<p ng-show="searchForm.originAirport.$error.required && (submitted || searchForm.originAirport.$dirty)" class="help-block">Departure Airport is required.</p>
					</div>
					<div class="col-sm-offset-1 col-md-offset-1 col-sm-5 col-md-5 col-sm-offset-1 col-md-offset-1" ng-class="{'has-error' : searchForm.destinationAirport.$invalid &&  (submitted || searchForm.destinationAirport.$dirty)}">
						To: <img src="assets/incoming.png"> <input name="destinationAirport"
						id="destinationAirport"
						type="text"
						placeholder="Arrival Airport"
						ng-model="selectedDestination"
						autocomplete="off"
						typeahead-editable="false"
						typeahead-select-on-exact="true"
						typeahead-on-select="setDestination($item)"
						uib-typeahead="airport.name for airport in Airports | filter:$viewValue | limitTo:10"
						class="form-control in"
						required>
						<p ng-show="searchForm.destinationAirport.$error.required && (submitted || searchForm.destinationAirport.$dirty)" class="help-block">Arrival Airport is required.</p>
					</div>
				</div>
				<br>

				<!-- Row for departure and return times -->
				<label class="between">When Are You Going?</label>
				<div class="row">
					<div id="departure" class="col-sm-6 col-md-6">
						Departure Date: <p class="input-group">
							<input type="text"
							id="d_date"
							class="form-control"
							uib-datepicker-popup="{{format}}"
							ng-model="departureDate"
							is-open="popup1.opened"
							close-text="Close"
							ng-click="open1()"
							alt-input-formats="altInputFormats" />
							<span class="input-group-btn">
								<button type="button"
								class="btn btn-default"
								ng-click="open1()">
								<i class="fa fa-calendar"></i>
							</button>
						</span>
					</p>
				</div>

				<div ng-if="date_show" id="return" class="col-sm-6 col-md-6">
					Return Date: <p class="input-group">
						<input type="text"
						id="r_date"
						class="form-control"
						uib-datepicker-popup="{{format}}"
						ng-model="$parent.returnDate"
						is-open="popup2.opened"
						close-text="Close"
						ng-click="open2()"
						alt-input-formats="altInputFormats" />
						<span class="input-group-btn">
							<button type="button"
							class="btn btn-default"
							ng-click="open2()">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</p>
			</div>
				</div>
				<br>

				<!-- Row for number of tickets -->
				<label class="between">How Many Are Going?</label>
				<div class="row">
			<div class="col-sm-3 col-md-2">
				Adult(s) +12 years: <br><select class="form-control" ng-init="Adult='1'" ng-model="Adult">
					<option ng-repeat="num in digits" ng-if="num > 0" value="{{num}}">{{ num }}</option>
				</select>
			</div>
			<div class="col-sm-3 col-md-2">
				Child(ren) 2-12 years: <br><select class="form-control" ng-init="child='0'" ng-model="child">
					<option ng-repeat="num in digits" value="{{num}}">{{ num }}</option>

				</select>
			</div>
			<div class="col-sm-3 col-md-2">
				Infant(s) Under 2 years: <br><select class="form-control" ng-init="infant='0'" ng-model="infant">
					<option ng-repeat="num in digits" value="{{num}}">{{ num }}</option>
				</select>
			</div>
			<div class="col-sm-2 col-md-2">
				Class Type: <br><select class="form-control" id="dropdown1" ng-init="class='business'" ng-model="class">
					<option value="business">business</option>
					<option value="economy">economy</option>
				</select>
			</div>

				</div>
				<br>
				<div class="row">

			<div class="col-sm-offset-9 col-md-offset-9 col-sm-3 col-md-3">
				<button type="submit" class="btn btn-default btn_nxt">Search</button>
			</div>

				</div>

				<br>
			</div>
		</form>
</div>
</div>

</div>
