<div class="flights">
	<form name="flightsForm" ng-submit="submitForm(flightsForm.$valid)" novalidate>
		<div class="container col-sm-12 col-md-12">
			<div class="outgoing">
				<img src="assets/departure.png"> <label style="font-size: 23px; color: black;">Departure Flight(s)</label>
				<h4>{{ dep_airport }} - {{ ret_airport }}</h4>

				<center>
					<div class="col-sm-12 col-md-12">
						<button type="button" id="previous_dates" ng-click="dep_prev()">
							<img src="assets/goLeft.png" alt="goLeft" />
						</button>
						<!-- UI Bootstrap radio buttons for dates -->
						<div class="btn-group">
							<label class="btn btn-default" ng-repeat="date in dep_dates track by $index" ng-model="$parent.dradioModel" ng-click="dep_show()" uib-btn-radio="date">{{dayName(date.getDay())}} <br>{{date.getDate()}} {{monthName(date.getMonth())}}</label>
						</div>

						<button type="button" id="next_dates">
							<img src="assets/goRight.png" alt="goRight" ng-click="dep_next()"/>
						</button>
					</div>
				</center>
			</div>
			<br>
			<div style="margin-top: 1.5%" class="col-sm-12 col-md-12">

				<!-- tabs for flight types -->
				<div class="inner-tabs">
					<div class="inner-tab-links">
						<input type="radio" name="business" id="dep-in-btn-1" ng-model="dep_radio" ng-click="dep_isSelected = 'business'; dep_reserve=''" ng-class="{checked:dep_isSelected=='business'}">
						<label for="dep-in-btn-1" class="btn inner-link"><i class="fa fa-briefcase"></i> Business</label>

						<input type="radio" name="economy" id="dep-in-btn-3" ng-model="dep_radio" ng-click="dep_isSelected = 'economy'; dep_reserve=''" ng-class="{checked:dep_isSelected=='economy'}">
						<label for="dep-in-btn-3" class="btn inner-link"><i class="fa fa-line-chart"></i> Economy</label>
					</div>

					<!-- flights table -->
					<div class="col-sm-12 col-md-12 flights-table">
						<div class="header">
							<span class="col-sm-1 col-md-1 label label-success head">
								<i class="fa fa-paper-plane"></i> Airline
							</span>
							<span class="col-sm-2 col-md-2 label label-success head">
								<i class="fa fa-clock-o"></i> Time
							</span>
							<span class="col-sm-2 col-md-2 label label-success head">
								<i class="fa fa-users"></i> Available Seats
							</span>
							<span class="col-sm-2 col-md-2 label label-success head">
								<i class="fa fa-plane"></i> Plane Model
							</span>
							<span class="col-sm-2 col-md-2 label label-success head">
								<i class="fa fa-money"></i> Cost
							</span>
							<span class="col-sm-2 col-md-2 label label-success head">
								<i class="fa fa-headphones"></i> Entertainment
							</span>
							<span class="col-sm-1 col-md-1 label label-success head">
								Book
							</span>
						</div>
						<br>
						<br>
						<div class="col-sm-12 col-md-12 flight" ng-if="flight.class == dep_isSelected" ng-repeat="flight in departureFlights">
							<label class="col-sm-1 col-md-1 flight_body">
								Air Madagascar
							</label>
							<label class="col-sm-2 col-md-2 flight_body">
								{{flight.departureDateTime}} - {{flight.arrivalDateTime}} <br>
								{{flight.arrivalDateTime - flight.departureDateTime}}
							</label>
							<label class="col-sm-2 col-md-2 flight_body">
								50
							</label>
							<label class="col-sm-2 col-md-2 flight_body">
								{{flight.aircraftType}} {{flight.aircraftModel}}
							</label>
							<label class="col-sm-2 col-md-2 flight_body">
								{{flight.cost*total_people}}
							</label>
							<label class="col-sm-2 col-md-2 flight_body">
								<!-- <div ng-repeat="e in flight.entertainment"> -->
									<div >
										Wifi <i class="fa fa-wifi"></i>
									</div>
									<div >
										Radio <i class="fa fa-music"></i>
									</div>
									<div >
										USB <i class="fa fa-usb"></i>
									</div>
								<!-- </div> -->
							</label>
							<label class="col-sm-1 col-md-1 flight_body">
								<input type="radio" ng-model="$parent.$parent.dep_reserve" name="$parent.$parent.dep_reserve" ng-change="$parent.$parent.dep_price = flight.cost; $parent.$parent.dep_flight = flight;" value="{{flight.flightNumber}}" ng-disabled="flight.remaining_seats == 0" required>
							</label>
							<div class="col-sm-12 col-md-12">
								<hr style="border-color: black;">
							</div>
						</div>
						<div class="has-error">
							<p ng-show="(dep_reserve == '' || dep_reserve === undefined) && submitted" class="help-block">Departure Flight is required.</p>
						</div>
					</div>
				</div>


			</div>
			<br>
			<div ng-if="show_incoming">
				<div class="incoming">
					<img src="assets/return.png"> <label style="font-size: 23px; color: black;">Return Flight(s)</label>
					<h4>{{ ret_airport }} - {{ dep_airport }}</h4>

					<center>
						<div class="col-sm-12 col-md-12">
							<button type="button" id="previous_dates">
								<img src="assets/goLeft.png" alt="goLeft" ng-click="ret_prev()"/>
							</button>
							<!-- UI Bootstrap radio buttons for dates -->
							<div class="btn-group">
								<label class="btn btn-default" ng-repeat="date in ret_dates track by $index" ng-model="$parent.$parent.retradioModel" ng-click="ret_show()" uib-btn-radio="date">{{dayName(date.getDay())}} <br>{{date.getDate()}} {{monthName(date.getMonth())}}</label>
							</div>

							<button type="button" id="next_dates">
								<img src="assets/goRight.png" alt="goRight" ng-click="ret_next()"/>
							</button>

						</div>
					</center>
				</div>
				<br>
				<div style="margin-top: 1.5%" class="col-sm-12 col-md-12">

					<!-- tabs for flight types -->
					<div class="inner-tabs">
						<div class="inner-tab-links">
							<input type="radio" name="business" id="ret-in-btn-1" ng-model="ret_radio" ng-click="ret_isSelected = 'business'; ret_reserve=''" ng-class="{checked:ret_isSelected=='business'}">
							<label for="ret-in-btn-1" class="btn inner-link"><i class="fa fa-briefcase"></i> Business</label>


							<input type="radio" name="economy" id="ret-in-btn-3" ng-model="ret_radio" ng-click="ret_isSelected = 'economy'; ret_reserve=''" ng-class="{checked:ret_isSelected=='economy'}">
							<label for="ret-in-btn-3" class="btn inner-link"><i class="fa fa-line-chart"></i> Economy</label>
						</div>

						<!-- flights table -->
						<div class="col-sm-12 col-md-12 flights-table">
							<div class="header">
								<span class="col-sm-1 col-md-1 label label-success head">
									<i class="fa fa-paper-plane"></i> Airline
								</span>
								<span class="col-sm-2 col-md-2 label label-success head">
									<i class="fa fa-clock-o"></i> Time
								</span>
								<span class="col-sm-2 col-md-2 label label-success head">
									<i class="fa fa-users"></i> Available Seats
								</span>
								<span class="col-sm-2 col-md-2 label label-success head">
									<i class="fa fa-plane"></i> Plane Model
								</span>
								<span class="col-sm-2 col-md-2 label label-success head">
									<i class="fa fa-money"></i> Cost
								</span>
								<span class="col-sm-2 col-md-2 label label-success head">
									<i class="fa fa-headphones"></i> Entertainment
								</span>
								<span class="col-sm-1 col-md-1 label label-success head">
									Book
								</span>
							</div>
							<br>
							<br>
							<div class="col-sm-12 col-md-12 flight" ng-if="flight.class == ret_isSelected" ng-repeat="flight in returnFlights">
								<label class="col-sm-1 col-md-1 flight_body">
									Air Madagascar
								</label>
								<label class="col-sm-2 col-md-2 flight_body">
									{{flight.departureDateTime}} - {{flight.arrivalDateTime}} <br>
									{{flight.arrivalDateTime - flight.departureDateTime}}
								</label>
								<label class="col-sm-2 col-md-2 flight_body">
									50
								</label>
								<label class="col-sm-2 col-md-2 flight_body">
									{{flight.aircraftType}} {{flight.aircraftModel}}
								</label>
								<label class="col-sm-2 col-md-2 flight_body">
									{{flight.cost*total_people}}
								</label>
								<label class="col-sm-2 col-md-2 flight_body">
									<!-- <div ng-repeat="e in flight.entertainment"> -->
										<div >
											Wifi <i class="fa fa-wifi"></i>
										</div>
										<div >
											Radio <i class="fa fa-music"></i>
										</div>
										<div >
											USB <i class="fa fa-usb"></i>
										</div>
									<!-- </div> -->
								</label>
								<label class="col-sm-1 col-md-1 flight_body">
									<input type="radio" ng-model="$parent.$parent.ret_reserve" name="$parent.$parent.ret_reserve" ng-change="$parent.$parent.$parent.ret_price = flight.cost;$parent.$parent.$parent.ret_flight = flight" value="{{flight.flightNumber}}" ng-disabled="flight.remaining_seats == 0" required>
								</label>

								<div class="col-sm-12 col-md-12">
									<hr style="border-color: black;">
								</div>
							</div>
							<div class="has-error">
								<p ng-show="(ret_reserve == '' || ret_reserve === undefined) && submitted" class="help-block">Return Flight is required.</p>
							</div>
						</div>
					</div>


				</div>
			</div>

			<br>
			<div class="row">
				<div class="col-sm-offset-11 col-md-offset-10 col-sm-2 col-md-2">
					<button type="submit" class="btn btn-default btn_nxt">Next</button>
					<br>
					<br>
				</div>
			</div>
		</div>
	</form>

</div>
