<div class="container personal">
	<form name="personalInfoForm" ng-submit="submitForm(personalInfoForm.$valid)" novalidate>
		<div class="form-inline">
			<!-- forms for adults -->
			<div ng-repeat="t in numAdults() track by $index">
				<div style="clear: both;" class="col-sm-offset-5 col-sm-3 col-md-offset-5 col-md-2">
					<h1>Adult {{ $index + 1 }}</h1>
				</div>
				<div class="panel-group col-sm-12 col-md-11">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h2 class="panel-title" >Personal Information </h2>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-2 col-md-2">
									Title: <select id="title" class="form-control" ng-init="adultFormData[$index].title='Mr.'" ng-model="adultFormData[$index].title">
										<option value="Mr.">Mr.</option>
										<option value="Mrs.">Mrs.</option>
										<option value="Ms.">Ms.</option>
										<option value="Miss.">Miss.</option>
									</select>
								</div>
								<div class="col-sm-offset-1 col-md-offset-1 col-sm-4 col-md-4" ng-class="{'has-error' : personalInfoForm.first_name_adult_{{$index}}.$invalid &&  (submitted || personalInfoForm.first_name_adult_{{$index}}.$dirty)}">
									First Name: <input type="text" name="first_name_adult_{{$index}}" ng-model="adultFormData[$index].first_name" class="form-control" placeholder="ex. John" required>
									<p ng-show="personalInfoForm.first_name_adult_{{$index}}.$error.required && (submitted || personalInfoForm.first_name_adult_{{$index}}.$dirty)" class="help-block">First Name is required.</p>
								</div>
								<div class="col-sm-offset-1 col-md-offset-1 col-sm-4 col-md-4" ng-class="{'has-error' : personalInfoForm.last_name_adult_{{$index}}.$invalid &&  (submitted || personalInfoForm.last_name_adult_{{$index}}.$dirty)}">
									Last Name: <input type="text" name="last_name_adult_{{$index}}" ng-model="adultFormData[$index].last_name" class="form-control" placeholder="ex. Doe" required>
									<p ng-show="personalInfoForm.last_name_adult_{{$index}}.$error.required && (submitted || personalInfoForm.last_name_adult_{{$index}}.$dirty)" class="help-block">Last Name is required.</p>
								</div>
							</div>

							<br>
							<div class="row">
								<div class="col-sm-4 col-md-4" ng-class="{'has-error' : personalInfoForm.nationality_adult_{{$index}}.$invalid &&  (submitted || personalInfoForm.nationality_adult_{{$index}}.$dirty)}">
									Nationality: <input type="text" ng-model="adultFormData[$index].nationality" name="nationality_adult_{{$index}}" class="form-control" placeholder="ex. Egyptian" required>
									<p ng-show="personalInfoForm.nationality_adult_{{$index}}.$error.required && (submitted || personalInfoForm.nationality_adult_{{$index}}.$dirty)" class="help-block">Nationality is required.</p>
								</div>
								<div class="col-sm-5 col-md-5" ng-class="{'has-error' : personalInfoForm.birth_date_adult_{{$index}}.$invalid &&  (submitted || personalInfoForm.birth_date_adult_{{$index}}.$dirty)}">
									Date of Birth: <p class="input-group">
										<input type="text"
										id="birth_date"
										name="birth_date_adult_{{$index}}"
										class="form-control"
										uib-datepicker-popup="{{format}}"
										ng-model="adultFormData[$index].birth_date"
										is-open="birth_open_adult_$index"
										close-text="Close"
										ng-click="birth_open_adult_$index = true"
										alt-input-formats="altInputFormats" required/>
										<span class="input-group-btn">
											<button type="button"
											class="btn btn-default"
											ng-click="birth_open_adult_$index = true">
											<i class="fa fa-calendar"></i>
										</button>
									</span>
								</p>
								<p ng-show="personalInfoForm.birth_date_adult_{{$index}}.$error.required && (submitted || personalInfoForm.birth_date_adult_{{$index}}.$dirty)" class="help-block">Date of Birth is required.</p>
							</div>
						</div>
					</div>

					<div class="panel-heading">
						<h2 class="panel-title" >Passport Information </h2>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-11 col-md-11" ng-class="{'has-error' : personalInfoForm.passport_number_adult_{{$index}}.$invalid &&  (submitted || personalInfoForm.passport_number_adult_{{$index}}.$dirty)}">
								Passport Number: <input type="text" onkeypress="return isNumber(event);" name="passport_number_adult_{{$index}}" ng-model="adultFormData[$index].passport_number" class="form-control" placeholder="ex. 311644225" required>
								<p ng-show="personalInfoForm.passport_number_adult_{{$index}}.$error.required && (submitted || personalInfoForm.passport_number_adult_{{$index}}.$dirty)" class="help-block">Passport Number is required.</p>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-5 col-md-5" ng-class="{'has-error' : personalInfoForm.issue_date_adult_{{$index}}.$invalid &&  (submitted || personalInfoForm.issue_date_adult_{{$index}}.$dirty)}">
								Issue Date: <p class="input-group">
									<input type="text"
									id="issue_date"
									name="issue_date_adult_{{$index}}"
									class="form-control"
									uib-datepicker-popup="{{format}}"
									ng-model="adultFormData[$index].issue_date"
									is-open="issue_open_adult_$index"
									close-text="Close"
									ng-click="issue_open_adult_$index = true"
									alt-input-formats="altInputFormats" required/>
									<span class="input-group-btn">
										<button type="button"
										class="btn btn-default"
										ng-click="issue_open_adult_$index = true">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</p>
							<p ng-show="personalInfoForm.issue_date_adult_{{$index}}.$error.required && (submitted || personalInfoForm.issue_date_adult_{{$index}}.$dirty)" class="help-block">Issue Date is required.</p>
						</div>
						<div class="col-sm-offset-1 col-md-offset-1 col-sm-5 col-md-5" ng-class="{'has-error' : personalInfoForm.expiry_date_adult_{{$index}}.$invalid &&  (submitted || personalInfoForm.expiry_date_adult_{{$index}}.$dirty)}">
							Expiry Date: <p class="input-group">
								<input type="text"
								id="expiry_date"
								name="expiry_date_adult_{{$index}}"
								class="form-control"
								uib-datepicker-popup="{{format}}"
								ng-model="adultFormData[$index].expiry_date"
								is-open="expiry_open_adult_$index"
								close-text="Close"
								ng-click="expiry_open_adult_$index = true"
								alt-input-formats="altInputFormats" required/>
								<span class="input-group-btn">
									<button type="button"
									class="btn btn-default"
									ng-click="expiry_open_adult_$index = true">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
						</p>
						<p ng-show="personalInfoForm.expiry_date_adult_{{$index}}.$error.required && (submitted || personalInfoForm.expiry_date_adult_{{$index}}.$dirty)" class="help-block">Expiry Date is required.</p>
					</div>
				</div>
			</div>

			<div class="panel-heading">
				<h2 class="panel-title" >Contact Information </h2>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-5 col-md-5" ng-class="{'has-error' : personalInfoForm.email_adult_{{$index}}.$invalid &&  (submitted || personalInfoForm.email_adult_{{$index}}.$dirty)}">
						Email: <input type="email" name="email_adult_{{$index}}" ng-model="adultFormData[$index].email" class="form-control long" placeholder="Enter Your Email" required>
						<p ng-show="personalInfoForm.email_adult_{{$index}}.$error.required && (submitted || personalInfoForm.email_adult_{{$index}}.$dirty)" class="help-block">Email is required.</p>
						<p ng-show="personalInfoForm.email_adult_{{$index}}.$error.email && (submitted || personalInfoForm.email_adult_{{$index}}.$dirty)" class="help-block">Please Enter a Valid Email.</p>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-11 col-md-11" ng-class="{'has-error' : personalInfoForm.phone_number_adult_{{$index}}.$invalid &&  (submitted || personalInfoForm.phone_number_adult_{{$index}}.$dirty)}">
						Phone Number: <select ng-init="adultFormData[$index].phone_code='Afghanistan (+93)'" ng-model="adultFormData[$index].phone_code" class="form-control">
							<option ng-repeat="country in Countries">{{ country.name }} ({{ country.dial_code }})</option>
						</select>
						<input type="text" onkeypress="return isNumber(event);" name="phone_number_adult_{{$index}}" ng-model="adultFormData[$index].phone_number" class="form-control" placeholder="ex. 01097643254" required>
						<p ng-show="personalInfoForm.phone_number_adult_{{$index}}.$error.required && (submitted || personalInfoForm.phone_number_adult_{{$index}}.$dirty)" class="help-block">Phone Number is required.</p>
					</div>
				</div>
			</div>

			<div class="panel-heading">
				<h2 class="panel-title" >Emergency Contact Information </h2>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-5 col-md-5" ng-class="{'has-error' : personalInfoForm.em_email_adult_{{$index}}.$invalid &&  (submitted || personalInfoForm.em_email_adult_{{$index}}.$dirty)}">
						Email: <input type="email" name="em_email_adult_{{$index}}" ng-model="adultFormData[$index].em_email" class="form-control long" placeholder="Enter Your Email" required>
						<p ng-show="personalInfoForm.em_email_adult_{{$index}}.$error.required && (submitted || personalInfoForm.em_email_adult_{{$index}}.$dirty)" class="help-block">Email is required.</p>
						<p ng-show="personalInfoForm.em_email_adult_{{$index}}.$error.email && (submitted || personalInfoForm.em_email_adult_{{$index}}.$dirty)" class="help-block">Please Enter a Valid Email.</p>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-11 col-md-11" ng-class="{'has-error' : personalInfoForm.em_phone_number_adult_{{$index}}.$invalid &&  (submitted || personalInfoForm.em_phone_number_adult_{{$index}}.$dirty)}">
						Phone Number: <select ng-init="adultFormData[$index].em_phone_code='Afghanistan (+93)'" ng-model="adultFormData[$index].em_phone_code" class="form-control">
							<option ng-repeat="country in Countries">{{ country.name }} ({{ country.dial_code }})</option>
						</select>
						<input type="text" onkeypress="return isNumber(event);" name="em_phone_number_adult_{{$index}}" ng-model="adultFormData[$index].em_phone_number" class="form-control" placeholder="ex. 01097643254" required>
						<p ng-show="personalInfoForm.em_phone_number_adult_{{$index}}.$error.required && (submitted || personalInfoForm.em_phone_number_adult_{{$index}}.$dirty)" class="help-block">Phone Number is required.</p>
					</div>
				</div>
			</div>

			<div class="panel-heading">
				<h2 class="panel-title" >Special Requirements </h2>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-5 col-md-5">
						Meal preference: <select id="meal-preference" ng-init="adultFormData[$index].mealPreference='None'" ng-model="adultFormData[$index].mealPreference" class="form-control">
							<option>None</option>
							<option>Asian vegetarian meal</option>
							<option>Baby food</option>
							<option>Bland meal</option>
							<option>Child food</option>
							<option>Diabetic meal</option>
							<option>Gelatin free meal</option>
							<option>Low calorie meal</option>
							<option>Low fat meal</option>
							<option>Salt free meal</option>
							<option>Lacto-ovo vegetarian meal</option>
						</select>
					</div>
					<div class="col-sm-offset-1 col-md-offset-1 col-sm-5 col-md-5">
						Special needs: <select id="special-needs" ng-init="adultFormData[$index].specialNeed='None'" ng-model="adultFormData[$index].specialNeed" class="form-control">
							<option>None</option>
							<option>Deaf passenger</option>
							<option>Wheelchair for cabin seat</option>
							<option>Wheelchair for ramp</option>
							<option>Wheelchair for steps</option>
							<option>Wheelchair dry cell battery</option>
							<option>Wheelchair wet cell battery</option>
						</select>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="col-sm-12 col-md-11" ng-if="adults > 0 && children > 0">
	<hr style="border-color: black;">
</div>
<!-- forms for children -->
<div ng-repeat="t in numChildren() track by $index">
	<div style="clear: both;" class="col-sm-offset-5 col-sm-3 col-md-offset-5 col-md-2">
		<h1>Child {{ $index + 1 }}</h1>
	</div>
	<div class="panel-group col-sm-12 col-md-11">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h2 class="panel-title" >Personal Information </h2>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-4 col-md-4" ng-class="{'has-error' : personalInfoForm.first_name_child_{{$index}}.$invalid &&  (submitted || personalInfoForm.first_name_child_{{$index}}.$dirty)}">
						First Name: <input type="text" name="first_name_child_{{$index}}" ng-model="childFormData[$index].first_name" class="form-control" placeholder="ex. John" required>
						<p ng-show="personalInfoForm.first_name_child_{{$index}}.$error.required && (submitted || personalInfoForm.first_name_child_{{$index}}.$dirty)" class="help-block">First Name is required.</p>
					</div>
					<div class="col-sm-offset-1 col-md-offset-1 col-sm-4 col-md-4" ng-class="{'has-error' : personalInfoForm.last_name_child_{{$index}}.$invalid &&  (submitted || personalInfoForm.last_name_child_{{$index}}.$dirty)}">
						Last Name: <input type="text" name="last_name_child_{{$index}}" ng-model="childFormData[$index].last_name" class="form-control" placeholder="ex. Doe" required>
						<p ng-show="personalInfoForm.last_name_child_{{$index}}.$error.required && (submitted || personalInfoForm.last_name_child_{{$index}}.$dirty)" class="help-block">Last Name is required.</p>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-4 col-md-4" ng-class="{'has-error' : personalInfoForm.nationality_child_{{$index}}.$invalid &&  (submitted || personalInfoForm.nationality_child_{{$index}}.$dirty)}">
						Nationality: <input type="text" ng-model="childFormData[$index].nationality" name="nationality_child_{{$index}}" class="form-control" placeholder="ex. Egyptian" required>
						<p ng-show="personalInfoForm.nationality_child_{{$index}}.$error.required && (submitted || personalInfoForm.nationality_child_{{$index}}.$dirty)" class="help-block">Nationality is required.</p>
					</div>
					<div class="col-sm-offset-1 col-md-offset-1 col-sm-5 col-md-5" ng-class="{'has-error' : personalInfoForm.birth_date_child_{{$index}}.$invalid &&  (submitted || personalInfoForm.birth_date_child_{{$index}}.$dirty)}">
						Date of Birth: <p class="input-group">
							<input type="text"
							id="birth_date"
							name="birth_date_child_{{$index}}"
							class="form-control"
							uib-datepicker-popup="{{format}}"
							ng-model="childFormData[$index].birth_date"
							is-open="birth_date_open_child_$index"
							close-text="Close"
							ng-click="birth_date_open_child_$index = true"
							alt-input-formats="altInputFormats" required/>
							<span class="input-group-btn">
								<button type="button"
								class="btn btn-default"
								ng-click="birth_date_open_child_$index = true">
								<i class="fa fa-calendar"></i>
							</button>
						</span>
					</p>
					<p ng-show="personalInfoForm.birth_date_child_{{$index}}.$error.required && (submitted || personalInfoForm.birth_date_child_{{$index}}.$dirty)" class="help-block">Date of Birth is required.</p>
				</div>
			</div>
		</div>

		<div class="panel-heading">
			<h2 class="panel-title" >Passport Information </h2>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-11 col-md-11" ng-class="{'has-error' : personalInfoForm.passport_number.$invalid &&  (submitted || personalInfoForm.passport_number.$dirty)}">
					Passport Number: <input type="text" onkeypress="return isNumber(event);" name="passport_number" ng-model="childFormData[$index].passport_number" class="form-control" placeholder="ex. 311644225" required>
					<p ng-show="personalInfoForm.passport_number.$error.required && (submitted || personalInfoForm.passport_number.$dirty)" class="help-block">Passport Number is required.</p>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm-5 col-md-5" ng-class="{'has-error' : personalInfoForm.issue_date_child_{{$index}}.$invalid &&  (submitted || personalInfoForm.issue_date_child_{{$index}}.$dirty)}">
					Issue Date: <p class="input-group">
						<input type="text"
						id="issue_date"
						name="issue_date_child_{{$index}}"
						class="form-control"
						uib-datepicker-popup="{{format}}"
						ng-model="childFormData[$index].issue_date"
						is-open="issue_open_child_$index"
						close-text="Close"
						ng-click="issue_open_child_$index = true"
						alt-input-formats="altInputFormats" required/>
						<span class="input-group-btn">
							<button type="button"
							class="btn btn-default"
							ng-click="issue_open_child_$index = true">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</p>
				<p ng-show="personalInfoForm.issue_date_child_{{$index}}.$error.required && (submitted || personalInfoForm.issue_date_child_{{$index}}.$dirty)" class="help-block">Issue Date is required.</p>
			</div>
			<div class="col-sm-offset-1 col-md-offset-1 col-sm-5 col-md-5" ng-class="{'has-error' : personalInfoForm.expiry_date_child_{{$index}}.$invalid &&  (submitted || personalInfoForm.expiry_date_child_{{$index}}.$dirty)}">
				Expiry Date: <p class="input-group">
					<input type="text"
					id="expiry_date"
					name="expiry_date_child_{{$index}}"
					class="form-control"
					uib-datepicker-popup="{{format}}"
					ng-model="childFormData[$index].expiry_date"
					is-open="expiry_open_child_$index"
					close-text="Close"
					ng-click="expiry_open_child_$index = true"
					alt-input-formats="altInputFormats" required/>
					<span class="input-group-btn">
						<button type="button"
						class="btn btn-default"
						ng-click="expiry_open_child_$index = true">
						<i class="fa fa-calendar"></i>
					</button>
				</span>
			</p>
			<p ng-show="personalInfoForm.expiry_date_child_{{$index}}.$error.required && (submitted || personalInfoForm.expiry_date_child_{{$index}}.$dirty)" class="help-block">Expiry Date is required.</p>
		</div>
	</div>
</div>

<div class="panel-heading">
	<h2 class="panel-title" >Special Requirements </h2>
</div>

<div class="panel-body">
	<div class="row">
		<div class="col-sm-5 col-md-5">
			Meal preference: <select id="meal-preference" ng-init="childFormData[$index].mealPreference='None'" ng-model="childFormData[$index].mealPreference" class="form-control">
				<option>None</option>
				<option>Asian vegetarian meal</option>
				<option>Baby food</option>
				<option>Bland meal</option>
				<option>Child food</option>
				<option>Diabetic meal</option>
				<option>Gelatin free meal</option>
				<option>Low calorie meal</option>
				<option>Low fat meal</option>
				<option>Salt free meal</option>
				<option>Lacto-ovo vegetarian meal</option>
			</select>
		</div>
		<div class="col-sm-offset-1 col-md-offset-1 col-sm-5 col-md-5">
			Special needs: <select id="special-needs" ng-init="childFormData[$index].specialNeed='None'" ng-model="childFormData[$index].specialNeed" class="form-control">
				<option>None</option>
				<option>Deaf passenger</option>
				<option>Wheelchair for cabin seat</option>
				<option>Wheelchair for ramp</option>
				<option>Wheelchair for steps</option>
				<option>Wheelchair dry cell battery</option>
				<option>Wheelchair wet cell battery</option>
			</select>
		</div>
	</div>
</div>

</div>
</div>
</div>




<div class="col-sm-12 col-md-11" ng-if="adults > 0 && infants > 0">
	<hr style="border-color: black;">
</div>
<!-- forms for infants -->

<div ng-repeat="t in numInfants() track by $index">
	<div style="clear: both;" class="col-sm-offset-5 col-sm-3 col-md-offset-5 col-md-2">
		<h1>Infant {{ $index + 1 }}</h1>
	</div>
	<div class="panel-group col-sm-12 col-md-11">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h2 class="panel-title" >Personal Information </h2>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-4 col-md-4" ng-class="{'has-error' : personalInfoForm.first_name_infant_{{$index}}.$invalid &&  (submitted || personalInfoForm.first_name_infant_{{$index}}.$dirty)}">
						First Name: <input type="text" name="first_name_infant_{{$index}}" ng-model="infantFormData[$index].first_name" class="form-control" placeholder="ex. John" required>
						<p ng-show="personalInfoForm.first_name_infant_{{$index}}.$error.required && (submitted || personalInfoForm.first_name_infant_{{$index}}.$dirty)" class="help-block">First Name is required.</p>
					</div>
					<div class="col-sm-offset-1 col-md-offset-1 col-sm-4 col-md-4" ng-class="{'has-error' : personalInfoForm.last_name_infant_{{$index}}.$invalid &&  (submitted || personalInfoForm.last_name_infant_{{$index}}.$dirty)}">
						Last Name: <input type="text" name="last_name_infant_{{$index}}" ng-model="infantFormData[$index].last_name" class="form-control" placeholder="ex. Doe" required>
						<p ng-show="personalInfoForm.last_name_infant_{{$index}}.$error.required && (submitted || personalInfoForm.last_name_infant_{{$index}}.$dirty)" class="help-block">Last Name is required.</p>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-4 col-md-4" ng-class="{'has-error' : personalInfoForm.nationality_infant_{{$index}}.$invalid &&  (submitted || personalInfoForm.nationality_infant_{{$index}}.$dirty)}">
						Nationality: <input type="text" ng-model="infantFormData[$index].nationality" name="nationality_infant_{{$index}}" class="form-control" placeholder="ex. Egyptian" required>
						<p ng-show="personalInfoForm.nationality_infant_{{$index}}.$error.required && (submitted || personalInfoForm.nationality_infant_{{$index}}.$dirty)" class="help-block">Nationality is required.</p>
					</div>
					<div class="col-sm-offset-1 col-md-offset-1 col-sm-5 col-md-5" ng-class="{'has-error' : personalInfoForm.birth_date_infant_{{$index}}.$invalid &&  (submitted || personalInfoForm.birth_date_infant_{{$index}}.$dirty)}">
						Date of Birth: <p class="input-group">
							<input type="text"
							id="birth_date"
							name="birth_date_infant_{{$index}}"
							class="form-control"
							uib-datepicker-popup="{{format}}"
							ng-model="infantFormData[$index].birth_date"
							is-open="birth_date_open_infant_$index"
							close-text="Close"
							ng-click="birth_date_open_infant_$index = true"
							alt-input-formats="altInputFormats" required/>
							<span class="input-group-btn">
								<button type="button"
								class="btn btn-default"
								ng-click="birth_date_open_infant_$index = true">
								<i class="fa fa-calendar"></i>
							</button>
						</span>
					</p>
					<p ng-show="personalInfoForm.birth_date_infant_{{$index}}.$error.required && (submitted || personalInfoForm.birth_date_infant_{{$index}}.$dirty)" class="help-block">Date of Birth is required.</p>
				</div>
			</div>
		</div>

		<div class="panel-heading">
			<h2 class="panel-title" >Passport Information </h2>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-11 col-md-11" ng-class="{'has-error' : personalInfoForm.passport_number_infant_{{$index}}.$invalid &&  (submitted || personalInfoForm.passport_number_infant_{{$index}}.$dirty)}">
					Passport Number: <input type="text" onkeypress="return isNumber(event);" name="passport_number_infant_{{$index}}" ng-model="infantFormData[$index].passport_number" class="form-control" placeholder="ex. 311644225" required>
					<p ng-show="personalInfoForm.passport_number_infant_{{$index}}.$error.required && (submitted || personalInfoForm.passport_number_infant_{{$index}}.$dirty)" class="help-block">Passport Number is required.</p>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm-5 col-md-5" ng-class="{'has-error' : personalInfoForm.issue_date_infant_{{$index}}.$invalid &&  (submitted || personalInfoForm.issue_date_infant_{{$index}}.$dirty)}">
					Issue Date: <p class="input-group">
						<input type="text"
						id="issue_date"
						name="issue_date_infant_{{$index}}"
						class="form-control"
						uib-datepicker-popup="{{format}}"
						ng-model="infantFormData[$index].issue_date"
						is-open="issue_open_infant_$index"
						close-text="Close"
						ng-click="issue_open_infant_$index = true"
						alt-input-formats="altInputFormats" required/>
						<span class="input-group-btn">
							<button type="button"
							class="btn btn-default"
							ng-click="issue_open_infant_$index = true">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</p>
				<p ng-show="personalInfoForm.issue_date_infant_{{$index}}.$error.required && (submitted || personalInfoForm.issue_date_infant_{{$index}}.$dirty)" class="help-block">Issue Date is required.</p>
			</div>
			<div class="col-sm-offset-1 col-md-offset-1 col-sm-5 col-md-5" ng-class="{'has-error' : personalInfoForm.expiry_date_infant_{{$index}}.$invalid &&  (submitted || personalInfoForm.expiry_date_infant_{{$index}}.$dirty)}">
				Expiry Date: <p class="input-group">
					<input type="text"
					id="expiry_date"
					name="expiry_date_infant_{{$index}}"
					class="form-control"
					uib-datepicker-popup="{{format}}"
					ng-model="infantFormData[$index].expiry_date"
					is-open="expiry_open_infant_$index"
					close-text="Close"
					ng-click="expiry_open_infant_$index = true"
					alt-input-formats="altInputFormats" required/>
					<span class="input-group-btn">
						<button type="button"
						class="btn btn-default"
						ng-click="expiry_open_infant_$index = true">
						<i class="fa fa-calendar"></i>
					</button>
				</span>
			</p>
			<p ng-show="personalInfoForm.expiry_date_infant_{{$index}}.$error.required && (submitted || personalInfoForm.expiry_date_infant_{{$index}}.$dirty)" class="help-block">Expiry Date is required.</p>
		</div>
	</div>
</div>

<div class="panel-heading">
	<h2 class="panel-title" >Special Requirements </h2>
</div>

<div class="panel-body">
	<div class="row">
		<div class="col-sm-5 col-md-5">
			Meal preference: <select ng-init="infantFormData[$index].mealPreference='None'" ng-model="infantFormData[$index].mealPreference" class="form-control">
				<option>None</option>
				<option>Asian vegetarian meal</option>
				<option>Baby food</option>
				<option>Bland meal</option>
				<option>Child food</option>
				<option>Diabetic meal</option>
				<option>Gelatin free meal</option>
				<option>Low calorie meal</option>
				<option>Low fat meal</option>
				<option>Salt free meal</option>
				<option>Lacto-ovo vegetarian meal</option>
			</select>
		</div>
		<div class="col-sm-offset-1 col-md-offset-1 col-sm-5 col-md-5">
			Special needs: <select ng-init="infantFormData[$index].specialNeed='None'" ng-model="infantFormData[$index].specialNeed" class="form-control">
				<option>None</option>
				<option>Deaf passenger</option>
				<option>Wheelchair for cabin seat</option>
				<option>Wheelchair for ramp</option>
				<option>Wheelchair for steps</option>
				<option>Wheelchair dry cell battery</option>
				<option>Wheelchair wet cell battery</option>
			</select>
		</div>
	</div>
</div>

</div>

</div>
</div>
<div class="row">
	<div class="col-sm-offset-9 col-md-offset-9 col-sm-2 col-md-2">
		<button type="submit" class="btn btn-default btn_nxt">Next</button>
	</div>
</div>
</div>
</form>
</div>
<br>
