<div class="container">
   <div class="panel-group col-sm-12 col-xs-12 col-md-11">
      <div class="panel panel-info">
         <div class="panel-heading">
            <h2 class="panel-title" >Personal Information </h2>
         </div>
         <div class="panel-body">
            <label class="col-sm-5 col-md-5">Full name:  {{ title }} {{ firstName }} {{ lastName }}</label>
            <label class="col-sm-offset-1 col-md-offset-1 col-sm-5 col-md-5">Age: {{ age }}</label>
            <label class="col-sm-5 col-md-5">Date of birth: {{ dateOfBirth }}</label>
            <label class="col-sm-offset-1 col-md-offset-1 col-sm-5 col-md-5">Nationality: {{ nationality }}</label>
         </div>
         <div class="panel-heading">
            <h2 class="panel-title" >Contact information </h2>
         </div>
         <div class="panel-body">
            <label class="col-sm-5 col-md-5">E-mail address: {{ contactEmail }}</label>
            <label class="col-sm-offset-1 col-md-offset-1 col-sm-5 col-md-5">Mobile number: {{ contactMobile }}</label>
         </div>

         <div class="panel-heading">
            <h2 class="panel-title" >Emergency contact information </h2>
         </div>
         <div class="panel-body">
            <label class="col-sm-5 col-md-5">E-mail address: {{ contactEEmail }}</label>
            <label class="col-sm-offset-1 col-md-offset-1 col-sm-5 col-md-5">Mobile number: {{ contactEMobile }}</label>
         </div>

         <div class="panel-heading">
            <h2 class="panel-title" >Special requirements </h2>
         </div>
         <div class="panel-body">
            <label class="col-sm-5 col-md-5">Meal preference: {{ mealPreference }}</label>
            <label class="col-sm-offset-1 col-md-offset-1 col-sm-5 col-md-5">Special needs: {{ specialNeed }}</label>
         </div>

      </div>

   </div>

   <br>
   <br>
   <br>

   <div class="col-xs-12 col-sm-12 col-md-12">
      <button type="button" class="btn btn-danger col-sm-offset-1 col-xs-offset-1 col-md-offset-1 col-sm-3 col-xs-3 col-md-3">Cancel reservation</button>
      <button type="button" class="btn btn-warning col-sm-offset-4 col-xs-offset-4 col-md-offset-4 col-sm-1 col-xs-1 col-md-1">Edit</button>
   </div>
</div>
<br>
